<a href="https://colab.research.google.com/github/eduardogranillo/FisicaComputacional/blob/master/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Actividad 3**

**Eduardo Granillo**

**Introducción a Pandas**

# Paso 1 y 2

In [ ]:
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/eduardogranillo/FisicaComputacional/master/Actividad1/ClimatologiaDiaria.txt'
df = pd.read_csv(url, skiprows=19)
print(df.head(5))
print(df)

   01/01/1956  0     Nulo   Nulo   Nulo
0  02/01/1956  0     Nulo   Nulo   Nulo
1  03/01/1956  0     Nulo   Nulo   Nulo
2  04/01/1956  0     Nulo   Nulo   Nulo
3  05/01/1956  0     Nulo   Nulo   Nulo
4  06/01/1956  0     Nulo   Nulo   Nulo
         01/01/1956  0     Nulo   Nulo   Nulo
0        02/01/1956  0     Nulo   Nulo   Nulo
1        03/01/1956  0     Nulo   Nulo   Nulo
2        04/01/1956  0     Nulo   Nulo   Nulo
3        05/01/1956  0     Nulo   Nulo   Nulo
4        06/01/1956  0     Nulo   Nulo   Nulo
...                                       ...
16058    27/06/2010  0      10.8   34.5   15
16059    28/06/2010  0      10.3   35.5   13
16060  29/06/2010  0      11.6   38     13.5
16061    30/06/2010  0      12.6   38     18
16062  --------------------------------------

[16063 rows x 1 columns]

In [ ]:
import pandas as pd
import numpy as np

# Tomar la dirección URL del archivo en formato 'raw'
url = 'https://raw.githubusercontent.com/eduardogranillo/FisicaComputacional/master/Actividad1/ClimatologiaDiaria.txt'

# Definimos los nombres de las columnas
# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último, afirmamos que no nay encabezado
# Se procesan los datos utilizando Python, engine='python' 
my_cols = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

# Paso 3

In [ ]:
# Revisamos el encabezado y el final del dataframe
print(df_dist.head(10))
print(df_dist.tail(10))

        Fecha Precip  Evap  Tmax  Tmin
0  01/01/1956      0  Nulo  Nulo  Nulo
1  02/01/1956      0  Nulo  Nulo  Nulo
2  03/01/1956      0  Nulo  Nulo  Nulo
3  04/01/1956      0  Nulo  Nulo  Nulo
4  05/01/1956      0  Nulo  Nulo  Nulo
5  06/01/1956      0  Nulo  Nulo  Nulo
6  07/01/1956      0  Nulo  Nulo  Nulo
7  08/01/1956      0  Nulo  Nulo  Nulo
8  09/01/1956      0  Nulo  Nulo  Nulo
9  10/01/1956      0  Nulo  Nulo  Nulo
            Fecha Precip  Evap  Tmax  Tmin
16053  21/06/2010      0  11.1  34.5    16
16054  22/06/2010      0  10.5    34    17
16055  23/06/2010      0  10.4    37    14
16056  24/06/2010      0    12  36.5    16
16057  25/06/2010   15.8  12.6  34.5    15
16058  26/06/2010      0  10.8    33  14.5
16059  27/06/2010      0  10.8  34.5    15
16060  28/06/2010      0  10.3  35.5    13
16061  29/06/2010      0  11.6    38  13.5
16062  30/06/2010      0  12.6    38    18

In [ ]:
# Investigamos su tamaño con la función shape (renglones, columnas)
df_dist.shape

(16063, 5)

In [ ]:
# Información del dataframe
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16063 entries, 0 to 16062
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   16063 non-null  object
 1   Precip  16063 non-null  object
 2   Evap    16063 non-null  object
 3   Tmax    16063 non-null  object
 4   Tmin    16063 non-null  object
dtypes: object(5)
memory usage: 627.6+ KB

In [ ]:
# Hacemos una copia de trabajo y preservamos el dataframe original
df_work0 = df_dist.copy()
df_work0.head()

        Fecha Precip  Evap  Tmax  Tmin
0  01/01/1956      0  Nulo  Nulo  Nulo
1  02/01/1956      0  Nulo  Nulo  Nulo
2  03/01/1956      0  Nulo  Nulo  Nulo
3  04/01/1956      0  Nulo  Nulo  Nulo
4  05/01/1956      0  Nulo  Nulo  Nulo

In [ ]:
# Reemplazamos los textos 'Nulo' por espacio en blanco ''
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha Precip Evap Tmax Tmin
0  01/01/1956      0
1  02/01/1956      0
2  03/01/1956      0
3  04/01/1956      0
4  05/01/1956      0

In [ ]:
# Imprimimos la información actualizada del dataframe
df_work1.info()
print(df_work1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16063 entries, 0 to 16062
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   16063 non-null  object
 1   Precip  16063 non-null  object
 2   Evap    16063 non-null  object
 3   Tmax    16063 non-null  object
 4   Tmin    16063 non-null  object
dtypes: object(5)
memory usage: 627.6+ KB
        Fecha Precip Evap Tmax Tmin
0  01/01/1956      0
1  02/01/1956      0
2  03/01/1956      0
3  04/01/1956      0
4  05/01/1956      0

In [ ]:
# Deseamos convertir los valores de las variables ambientales a núm. flotantes 
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16063 entries, 0 to 16062
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   16063 non-null  object
 1   Precip  16058 non-null  float64
 2   Evap    10094 non-null  float64
 3   Tmax    15199 non-null  float64
 4   Tmin    15191 non-null  float64
dtypes: float64(4), object(1)
memory usage: 627.6+ KB

In [ ]:
# De la instrucción anterior, vemos que hay valores faltantes. Sumamos los valores nulos. 
df_work1.isnull().sum()

Fecha        0
Precip       5
Evap      5969
Tmax       864
Tmin       872
dtype: int64

In [ ]:
print(df_work1.head(10))
print(df_work1.tail(10))

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1956     0.0   NaN   NaN   NaN
1  02/01/1956     0.0   NaN   NaN   NaN
2  03/01/1956     0.0   NaN   NaN   NaN
3  04/01/1956     0.0   NaN   NaN   NaN
4  05/01/1956     0.0   NaN   NaN   NaN
5  06/01/1956     0.0   NaN   NaN   NaN
6  07/01/1956     0.0   NaN   NaN   NaN
7  08/01/1956     0.0   NaN   NaN   NaN
8  09/01/1956     0.0   NaN   NaN   NaN
9  10/01/1956     0.0   NaN   NaN   NaN
            Fecha  Precip  Evap  Tmax  Tmin
16053  21/06/2010     0.0  11.1  34.5  16.0
16054  22/06/2010     0.0  10.5  34.0  17.0
16055  23/06/2010     0.0  10.4  37.0  14.0
16056  24/06/2010     0.0  12.0  36.5  16.0
16057  25/06/2010    15.8  12.6  34.5  15.0
16058  26/06/2010     0.0  10.8  33.0  14.5
16059  27/06/2010     0.0  10.8  34.5  15.0
16060  28/06/2010     0.0  10.3  35.5  13.0
16061  29/06/2010     0.0  11.6  38.0  13.5
16062  30/06/2010     0.0  12.6  38.0  18.0

In [ ]:
# Un análisis estadístico breve de las variables numéricas redondeado a 2 cifras significativas
df_work1.describe().round(2)

         Precip      Evap      Tmax      Tmin
count  16058.00  10094.00  15199.00  15191.00
mean       2.43      4.53     23.70      4.96
std        7.57      2.64      6.34      7.35
min        0.00      0.00     -3.00    -14.50
25%        0.00      2.50     19.50     -1.00
50%        0.00      3.90     24.50      4.50
75%        0.00      6.20     28.00     12.00
max      140.00     17.70     42.50     23.00

# Paso 4

In [ ]:
# Volvemos a hacer una pausa y definimos un nuevo dataframe por si hay que regresarse.
df_work2 = df_work1.copy()
df_work2['Fecha'].head()

0    01/01/1956
1    02/01/1956
2    03/01/1956
3    04/01/1956
4    05/01/1956
Name: Fecha, dtype: object

In [ ]:
# Pandas tiene la función pd.to_datetime que convierte una cadena en tipo datetime64[ns]
# Intentamos a ver si Python reconoce el formato en nuestro caso. 
# Agregamos la opción de que el primer dato es el día (dayfirst=True)
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1956     0.0   NaN   NaN   NaN
1  02/01/1956     0.0   NaN   NaN   NaN
2  03/01/1956     0.0   NaN   NaN   NaN
3  04/01/1956     0.0   NaN   NaN   NaN
4  05/01/1956     0.0   NaN   NaN   NaN

In [ ]:
# Verificamos que cada variable (columna), sea del tipo que esperamos.
# Observamos que la variable Fecha es de tipo 'datetime64[ns]'  
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

In [ ]:
# Buscamos ahora añadir dos columnas adicionales: df['Año'], df['Mes']
# Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_work2['Año'] = df_work2['Fecha'].dt.year
df_work2['Mes'] = df_work2['Fecha'].dt.month

In [ ]:
# Verificamos que se hayan creado de forma correcta
# Tendremos ahora dos columnas adicionales que podemos utilizar para filtrar información.
print(df_work2.head(10))
print(df_work2.tail(10))

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1956-01-01     0.0   NaN   NaN   NaN  1956    1
1 1956-01-02     0.0   NaN   NaN   NaN  1956    1
2 1956-01-03     0.0   NaN   NaN   NaN  1956    1
3 1956-01-04     0.0   NaN   NaN   NaN  1956    1
4 1956-01-05     0.0   NaN   NaN   NaN  1956    1
5 1956-01-06     0.0   NaN   NaN   NaN  1956    1
6 1956-01-07     0.0   NaN   NaN   NaN  1956    1
7 1956-01-08     0.0   NaN   NaN   NaN  1956    1
8 1956-01-09     0.0   NaN   NaN   NaN  1956    1
9 1956-01-10     0.0   NaN   NaN   NaN  1956    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
16053 2010-06-21     0.0  11.1  34.5  16.0  2010    6
16054 2010-06-22     0.0  10.5  34.0  17.0  2010    6
16055 2010-06-23     0.0  10.4  37.0  14.0  2010    6
16056 2010-06-24     0.0  12.0  36.5  16.0  2010    6
16057 2010-06-25    15.8  12.6  34.5  15.0  2010    6
16058 2010-06-26     0.0  10.8  33.0  14.5  2010    6
16059 2010-06-27     0.0  10.8  34.5  15.0  2010    6
16060 2010-06-28     0.0  10.3  35.5  13.0  2010    6
16061 2010-06-29     0.0  11.6  38.0  13.5  2010    6
16062 2010-06-30     0.0  12.6  38.0  18.0  2010    6

In [ ]:
# Verificamos que Año y Mes son variables enteras.
df_work2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16063 entries, 0 to 16062
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   16063 non-null  datetime64[ns]
 1   Precip  16058 non-null  float64
 2   Evap    10094 non-null  float64
 3   Tmax    15199 non-null  float64
 4   Tmin    15191 non-null  float64
 5   Año     16063 non-null  int64
 6   Mes     16063 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 878.6 KB